
凡是进入北大侠客行游戏的玩家，视为接受以下全部条款。

─────────────────────────────────── 
◎  玩家规定 
─────────────────────────────────── 
1、 禁止制作有损社会公共利益的不良信息。 
2、 禁止骚扰、漫骂、侮辱其他玩家。严禁在游戏，官方QQ群，官方论坛
    进行针对任何人的人身攻击。
3、 禁止泄漏游戏中存在的bug（不论大小），不允许私下交流bug； 
    禁止使用任何影响游戏公平性的bug，发现bug应在第一时间报告给巫师。 
    使用bug一旦被发现，将剥夺全部非法所得，并根据情节程度施以数倍的
    惩罚。关于bug的判定，巫师拥有最终解释权。
4、 禁止登录辱骂性、捣乱性的帐号，巫师有权改档或杀档。 
5、 禁止在公用频道上一次或重覆贴出太多的内容（包括谣言频道，恶意裸奔刷 
    屏，无意义内容等）。 巫师有权采取关闭频道，踢出游戏，禁止登陆等措施。
6、 允许互相ＰＫ，下毒，抢劫，行窃和一切玩家之间的对抗活动，一切后果自
    负。除非事件升级到影响游戏正常进行和未来发展,巫师不做任何代码设定
    以外的干预。
7、 玩家有义务保证自己ID的安全。由于密码泄露或者ID共享造成的一切后果自负。
8、 玩家有权力对MUD中不合理的地方提出建议和申诉，巫师应当予以答复。
10、玩家有义务报告MUD中Bug，提出建议和申诉。
11、巫师委员会对Bug的定义和严重程度具有最终解释权。
12、玩家对巫师行为存疑，可以向主管天神反映。巫师委员会查证后按照巫师规则 
    进行处理。任何不经过上述途径，而针对巫师的讥讽，挑衅，谩骂的行为都可 
    能受到严厉的惩罚。对巫师的能力，动机，态度的最终审核权在巫师委员会。 
    当此种情况发生时，当事巫师负责举证，并有权放弃追究权。 
13、玩家胁迫其他不能正常游戏，或威胁攻击服务器运行。将直接删档处理。
※  若有违反以上各条，视情节轻重，巫师委员会有权给予警告和惩罚。 
    原则上一般巫师除了管理程式运作外，不负责执行法律以及处刑。请玩家自 
律，遵守MUD守则，以维护自身及他人愉快地在MUD中冒险的权利。巫师调处若有 
不公、牟利特定玩家、或恶意伤害玩家权益，可向更上一级之巫师申诉，申诉者 
须自负举证之证据。 
    巫师必须遵守以上规则，并遵守巫师规则，巫师如有违规情事将视情节轻重 
予以处分，玩家亦可举证检举。 
─────────────────────────────────── 
◎  惩罚措施 
─────────────────────────────────── 
1、 扣除玩家的存款；
2、 降低玩家游戏收益
3、 降低玩家的属性； 
4、 禁闭玩家的活动； 
5、 删除玩家的档案； 
6、 关闭玩家的网段。 
─────────────────────────────────── 
◎  蓄意破坏系统管理运作处理 
─────────────────────────────────── 
1、破解巫师人物的密码； 
   对于恶意尝试巫师密码（超过5次），封ip一天，并禁封所有由此ip上站的id 
   一天。 
2、发现系统程序错误之处（Bug）而用以牟利，并恶意不予以报告者，杀档处理。 
3、利用系统漏洞，进行影响系统性能，稳定，危害系统安全者，杀档，并封禁IP。
4、其他影响游戏正常运行之行为，处以警告，禁闭，封ID，直至删档封禁IP等惩罚。
─────────────────────────────────── 
◎奖励 
─────────────────────────────────── 
    针对举报巫师未发现的Bug，提出有建设性建议的玩家，由巫师对Bug进行定 
级，巫师可视重要性给予一定奖励。奖励不能转让，奖励不可重复索取，只能针 
对第一个报告的玩家，玩家有权力放弃奖励。 
─────────────────────────────────── 
◎奖励措施 
─────────────────────────────────── 
1、 对于能够及时报告Bug的玩家，视bug严重程度奖励以下属性之一：
    奖励相应的经验(200k～1000k)、或潜能(20k～100k)、或最大内力(200～
    1000点)、或最大精力奖励(200～1000点)、或武功等级(5～25级)、 或存款
    (200～1000两黄金)、或师门忠诚度(200～1000点)、或先天天赋(1～2点)、
    或特技一个、或相应的物品若干（不超过10个）。具体奖励数量由巫师最终
    决定。
5、 针对以往一些问题，特做规定：如果发现bug，曾经利用，不论是否即时报 
    告，均收回所有非法所得，再根据具体情况酌情给予奖励。 

─────────────────────────────────── 
◎机器人管理规定
─────────────────────────────────── 

1、 北侠严格禁止以下[1;31m主流任务[2;37;0m;使用全自动机器人。针对主流任务的全自动机器人
     在北侠属于极度不受欢迎的对象。除非有特别设计给机器人的任务，否则所有
     任务都不考虑任何机器人的需求。不同意此理念的玩家请自行离开，巫师组
     没有义务回答关于此条理念的任何疑问。
    护镖 胡一刀 task 护卫 慕容  萧峰 保卫 剿匪 海战 史可法 百晓生 铁匠
    萧半和 万安塔 投名状 护送 门派比武 华山送信 漂流 藏经阁 铜雀台 飞贼
    韩家复仇
2、 全自动定义为玩家十分钟以上不进行任何操作。    
3、 北侠对机器人采取程序限制和人工检查双方式。程序方面以fullme为代表，
    以尽可能对手动玩家不造成影响为前提，限制机器人的运行。人工方式由
    巫师抽查。巫师采用图灵测试的办法，在随机的时间做随机的提问。当玩
    家被怀疑为机器人后，巫师应该在十五分钟内连续提问三次以上，方能认
    定为全自动机器人。
4、 被人工认定为机器人后，巫师将在论坛公告版进行一天的公示。公示期间，
    玩家可以在意见投诉版进行申述。申述由巫师大殿受理。申述成功者，不
    添加机器人标记。申述失败者，增加一次机器人标志。
5、 对于在主流任务中使用全自动机器人的，巫师将予以严惩。
    a) 第一次发现的，所有任务奖励和掉宝降低50%，直到exp增长1M
    b) 第二次发现的，所有任务奖励和掉宝降低90%，直到exp增长1M
    c) 第三次发现的，所有任务奖励和掉宝降低95%，直到exp增长5M
    d) 第四次发现的，所有任务奖励和掉宝降低99%，直到exp增长50M
    e) 超过四次者，永久禁止该账号登陆。
6、 若有重大贡献，如报告bug等，以上记录可以由巫师酌情消除。
7、 顺利通过人工机器人测试者，在接下来的一小时内，所有任务奖励和掉
    宝增加20%。
8、 严禁进行针对北侠图形验证码技术的破解，一经发现，玩家可能受到最高删除
    全部相关ID，以及封禁IP的惩罚。请慎重！
9、 严禁转让，赠送，销售，主流任务机器人，新手村和门派新手任务机器人。
    凡涉嫌者，巫师一律采取封禁ID，然后调查之措施，以防机器人进一步扩散。

─────────────────────────────────── 
◎其他 
─────────────────────────────────── 
1、 巫师委员会保证每周备份一次玩家档案，对于档案出现问题的玩家巫师 
    有义务在第一时间恢复。 
2、 玩家不得以威胁、欺骗等方法向巫师索要任何物品和奖励，如果反复要求 
    巫师有权利不予理睬或者做出惩罚。 
3、 对于由于巫师失职（包括误操作）造成玩家损失，巫师必须立即给予恢复， 
    玩家有权将具体情况报知巫师委员会，并可以投诉当事巫师。 
4、 玩家对任何一个巫师不满，均可以发信给巫师委员会投诉。对于巫师奖惩不 
    服者可以在一个星期内提出抗议或申诉，巫师委员会不得视而不见，不予理 
    睬。 
5、 本规定从2003年8月8日正式执行。 
6、 本规定将会不断根据新的情况更新。 
7、 wiz团队拥有最高的管理权和一切mud事务的最终解释权。
8、 因程序故障或服务器故障造成的意外重启，wiz 团队将采取统一方式补偿，
    除bug 造成的人物数据、装备错误外，wiz 团队将不接受以个体为单位的补
    偿请求。例：随机装备不autoload情况下的使用视为玩家自行承担风险。
─────────────────────────────────── 
◎巫师委员会 
─────────────────────────────────── 
成员：请用wizlist查看。 
任何惩罚或者奖励必须以【论坛公告】的形式公开发布。 
巫师委员会将会不定期召开会议，商讨玩家意见和建议，并做出相应决定。 
以上玩家的游戏规则解释权归北大侠客行巫师会议。 

更新日期: 2012年12月02日
