───────────────────────────────────
        玩家惩罚制度
───────────────────────────────────
1)warn   ：  警告，警告一次，存款减为原来的三分之二，
             第二次警告等同于惩罚(punish)。
2)punish :   惩罚，惩罚时将被剥夺使用chat,do,rumor,tell等命令的权力，
             存款减为原来的五分之一，十五分钟内将被关在玩家惩罚室，
             并没收玩家身上所有的物品       。
3)purge  :   杀档。所有该玩家的资料将被删除。

───────────────────────────────────
        玩家规定
───────────────────────────────────        
1、 禁止制作有损社会公共利益的不良信息；
2、 禁止骚扰、漫骂、侮辱其他玩家；
3、 禁止泄漏游戏中存在的巫师未知的bug（不论大小），
    不允许私下交流bug；
    禁止使用任何影响游戏公平性的bug，发现bug应在
    第一时间报告给巫师。
4、 禁止登录辱骂性、捣乱性的帐号，巫师有权改档或杀档；
5、 禁止在公用频道上一次或重覆贴出太多的内容（包括谣言频道，恶意裸奔刷
    屏等）；
6、 允许互相ＰＫ，下毒，抢劫，行窃，不鼓励使用卑劣手段 PK（例如投毒，
    下蒙汗药欺骗不熟悉的玩家去危险地方等等），若无法达成和解且受害人超
    过五人次者，将对其ID进行惩罚；
7、 玩家有权力删除自己ID的档案，有权力是否使用自己ID的权力，不使用Bug
    的前提下自由地选择MUD的生活方式，巫师不得干预。
8、 玩家可以将自己的id转借或送与他人，但是由此可能造成的一切损失巫师
    概不负责。
9、 玩家有权力对MUD中不合理的地方提出建议和申诉，由巫师会议进行讨论，
    并给出正式的答复。
10、 玩家有义务报告MUD中Bug，提出建议和申诉，由巫师会议进行讨论，并给
    出正式的答复。玩家不得知情不报。

※  若有违反以上各条，视情节轻重，巫师委员会有权给予警告和惩罚。

    原则上一般巫师除了管理程式运作外, 不负责执行法律以及处刑。请玩家
自律, 遵守MUD法律, 以维护自身及他人愉快地在MUD中冒险的权利。巫师调处
若有不公、牟利特定玩家、或恶意伤害玩家权益, 可向更上一级之巫师申诉, 
申诉者必须自负举证之证据。
    巫师必须遵守以上规则, 并遵守巫师规则，巫师如有违规情事将视情节轻重
予以处分, 玩家亦可举证检举。
◎  惩罚措施
1、 扣除玩家的存款；
2、 降低玩家的经验；
3、 降低玩家的武技；
4、 禁闭玩家的活动；
5、 删除玩家的档案；
6、 关闭玩家的网段。
◎  惩罚明细
1、 制作有损社会公共利益的不良信息：例如宣扬不利于社会安定
    团结    的有关信息“法轮功”、“台独”，诋毁党和国家领
    导人等等，一律删除其档案，多次警告无效者，关闭其网段。
2、 在公用频道上进行恶意刷屏者，对其进行警告处分，第一次口
    头警告，第二次扣除玩家的存款，第三次将关禁闭限制其活动，
    多次警告无效，删除其档案。
3、 严禁进行超出游戏范围的人身攻击，第一次口头警告，第二次
    扣除玩家的存款，第三次将关禁闭限制其活动，多次警告无效，
    删除其档案。
4、 对于游戏中巫师不明的Bug，玩家知情不报，并且牟取暴利，经过
    巫师会议讨论对Bug进行定级，确定惩罚标准。
    Bug等级：
    
    A级：系统级Bug和在短时间获得不可能达到的经验、潜能、最
         大内力、最大精力、武功等级、以及非法判师。例如短时
         间内获得经验或者潜能达到1百万以上、获得最大内力、
         精力1千以上、武功等级超出游戏限制的增长等等。
    B级：对游戏平衡本身没有太多的不公平性，但影响比较大的Bug。
         例如短时间内，获得师门忠诚度超过500以上，获得内力小
         点超过5万以上获得金钱超过5千两黄金以上等等。
    C级：对游戏平衡性本身只有小影响的一些Bug，并且巫师会议
         认为可以存在的Bug，减少PK次数等等。
    D级：对于游戏中的玩家本身有负面影响的不合理的Bug。
    Bug惩罚细则：
    A级：对游戏平衡性影响很大，惩罚是没收所有巫师组认为是非法
         所得部分，如果无法确认，则直接恢复上次备份的档案。情节
         严重者直接杀档处理。
    B级：对游戏平衡性影响较大，对于此类的惩罚为收回所得利益的
         类型属性值的四分之三。
    C级：对游戏平衡性影响不大，对于此类的惩罚为收回所得利益的
         类型属性值的二分之一。
    D级：对游戏平衡性影响不大，而且对于此类一般无惩罚措施。

※  一般处罚可由管理巫师视情形执行，清除档案须由巫师会议协商决定。
◎  蓄意破坏系统管理运作处理
1、 破解巫师人物的密码；
    对于恶意尝试巫师密码（超过5次），封ip一天，并禁封所有由此ip上站的
    id一天。
2、 发现系统程序错误之处（Bug）而用以牟利，并恶意不予以报告者，杀档处理。

◎奖励
    针对举报巫师未发现的Bug，巫师对Bug进行定级，提出有建设
性建议的玩家，巫师可视重要性给予一定奖励。奖励不能转让，奖励
不可重复索取，只能针对第一个报告的玩家，玩家有权力放弃奖励。
◎奖励措施
1、 对于A级Bug，奖励相应的经验(5万～50万)、或潜能(1万～10万)、
    或最大内力(100～1000点)、或最大精力奖励(100～1000点)、或
    武功等级(5～20级)、或存款(5千～1万两黄金)、或师门忠诚度(300～
    1000点)；
2、 对于B级Bug，奖励相应的经验(1万～10万)、或潜能(1千～1万)、
    或最大内力(50～800点)、或最大精力奖励(50～800点)、或武功
    等级(1～10级)、或存款(5千～1万两黄金)、或师门忠诚度(50～
    300点)；
3、 对于C级Bug，奖励相应的经验(5千～5万)、或潜能(1千～5千)、
    或最大内力(50～200点)、或最大精力奖励(50～200点)、或武功
    等级(1～5级)、或存款(5百～5千两黄金)、或师门忠诚度(10～
    100点)；        
4、 对于D级Bug，奖励相应的经验(1千～1万)、或潜能(1百～1千)、
    或最大内力(10～100点)、或最大精力奖励(10～100点)、或武功
    等级(1～5级)、或存款(1百～1千两黄金)、或师门忠诚度(10～
    100点)；
5、 针对以往一些问题，特做规定：如果发现bug，曾经利用，不论是否
    即时报告，均按以上4级标准收回非法所得，再根据具体情况酌情给予奖励。
◎其他
1、 巫师委员会保证每周备份一次玩家档案，对于档案出现问题的玩家巫师
    有义务在第一时间恢复。
2、 玩家不得以威胁、欺骗等方法向巫师索要任何物品和奖励，如果反复要求
    巫师有权利不予理睬或者做出惩罚。所有奖励等必须由pal发放，其他巫师
    不得给予玩家任何东西或奖励。
3、 对于由于巫师失职（包括误操作）造成玩家损失，巫师必须立即给予恢复，
    玩家有权将具体情况报知巫师委员会，并可以投诉当事巫师。
4、 玩家对任何一个巫师不满，均可以发信给巫师委员会投诉。对于巫师奖惩不服者
    可以在一个星期内提出抗议或申诉，巫师委员会不得视而不见，不予理睬。
5、 本规定从2003年8月8日正式执行。
6、 本规定将会不断根据新的情况更新。
◎巫师委员会
成员：icer,chui,vast,idle,pal
其中奖励统一由pal负责发放，其余巫师一律不允许给予玩家奖励。
任何惩罚或者奖励必须贴至巫师留言版和京城中心留言版或者bbs。
巫师委员会将会不定期召开会议，商讨玩家意见和建议，并做出相应决定。
以上玩家的游戏规则解释权归北大侠客行巫师会议。
各巫师email:
icer:icer_xkx@sina.com
pal:cometh@tom.com
chui:confect@sina.com
各巫师在北大未名（bbs.pku.edu.cn）上的帐号：
icer:ls
chui:chui
pal:longsi
更新日期: 2003年8月8日

