		< 江  湖  法  典 >

◎  请玩家自觉遵守 □ 记号的各条规定。

□  禁止无故骚扰、漫骂、侮辱其他玩家；

□  禁止泄漏有关游戏中谜题、机关、陷阱解法，以及巫师不明的bug,
    此举将严重干扰其他玩家冒险之乐趣；

□  禁止使用机器人(robot)程式练功；

□  禁止多重登陆(multi-login)；

□  禁止与他人共用同一位游戏中的人物；

□  禁止登录辱骂性、捣乱性的帐号，巫师有权改档或杀档；

□  禁止在公用频道上一次或重覆贴出太多的内容；

※以上各条，视情节轻重，巫师有权给予警告和惩罚。

★  如果玩家有以下蓄意破坏系统管理运作的行为, 杀无赦。

    (1) 破解巫师人物的密码；
    (2) 故意使用机器人程式练功，并过度使用 tintin, Zmud等
        client 程式，导致系统负担过重；
    (3) 发现系统程式错误之处 (bug) 而用以牟利, 并恶意不予以报告；
    
    原则上一般巫师除了管理程式运作外, 不负责执行法律以及处刑。所
以请玩家自律, 遵守MUD法律, 以维护自身及他人愉快地在MUD中冒险的权
利。 当然, 高级巫师还是有删除玩家档案的能力。

    巫师调处若有不公、牟利特定玩家、或恶意伤害玩家权益, 可向更
上一级之巫师申诉, 申诉者必须自负举证之证据。

    巫师必须遵守以上规则, 并遵守巫师规则 (见 help wiz_rules),
巫师如有违规情事将视情节轻重予以处分, 玩家亦可举证检举. 

◎奖励:

    对于举报巫师未发现的bug，提出有建设性建议的玩家，巫师可视重要
性给予一定奖励。

更新日期: 1998年12月15日
